---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "More about Yuta Tokoi",
};

const yutaProjects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "One Kiji",
		desc: "2023-06 ~ 2023-12",
		href: "https://onekiji.yutatokoi.com/",
	},
];

const yutaSkills: Array<{ title: string; desc: string }> = [
	{
		title: "Programming",
		desc: "C, Python, Racket, MATLAB, R, SQL, Processing, JavaScript, Astro, HTML, CSS",
	},
	{
		title: "Tools",
		desc: "Neovim, macOS, ZSA Voyager",
	},
];

const yutaCerts: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "CompTIA ITF+",
		desc: "",
		href: "https://www.credly.com/badges/cec574c8-b5c3-4a93-a45f-cef61e554fff/public_url",
	},
	{
		title: "Google Cybersecurity Professional Certificate",
		desc: "",
		href: "https://coursera.org/share/24d176964315a44f7b9e0b14935e044b",
	},
	{
		title: "Google Data Analytics Professional Certificate",
		desc: "",
		href: "https://coursera.org/share/767b3329cb1ac30fb62ccf2627e27d14",
	},
];

const yutaPast: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Northeastern University",
		desc: "3.93 GPA, Dean's List. Attended 2022-2023 before transferring.",
		href: "https://catalog.northeastern.edu/undergraduate/computer-information-science/cybersecurity/cybersecurity-bs/",
	},
	{
		title: "Hiroshima University BMK Digital Cognitive Neuroscience Lab",
		desc: "Intern",
		href: "https://sites.google.com/view/digital-cogneuro/",
	},
	{
		title: "Silicon Valley Japan Platforom",
		desc: "Intern",
		href: "https://svjp.org/",
	},
	{
		title: "DREAM SEEDS CAMP",
		desc: "Intern",
		href: "https://www.dreamseedscamp.org/",
	},
	{
		title: "Digika",
		desc: "Intern",
		href: "https://www.sorotouch.jp/",
	},
];

const yutaFunFacts: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Minimalist",
		desc: "All my possessions fit in a suitcase and backpack.",
		href: "https://coursera.org/share/24d176964315a44f7b9e0b14935e044b",
	},
	{
		title: "Speedcuber",
		desc: "I've solved a Rubik's cube in 8.59 seconds.",
		href: "https://www.worldcubeassociation.org/persons/2015TOKO01",
	},
	{
		title: "Musician",
		desc: "I play the Koto and occassionally do electronic music.",
		href: "https://youtu.be/Hw3EuUZruMs",
	},
];

---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Student by day, long sleeper by night.
		</p>
		<!-- <div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>
		</div> -->
		<section class="mt-16">
			<h2 class="title mb-4 text-xl">Projects</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					yutaProjects.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								{title}
							</a>:
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
		<section class="mt-16">
			<h2 class="title mb-4 text-xl">Skills</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					yutaSkills.map(({ title, desc }) => (
						<li>
							<p class="inline-block sm:mt-2"><b>{title}</b>: </p>
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
		<section class="mt-16">
		<h2 class="title mb-4 text-xl">Certifications</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					yutaCerts.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								{title}
							</a>
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
		<section class="mt-16">
			<h2 class="title mb-4 text-xl">Past</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					yutaPast.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								{title}
							</a>:
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
		<section class="mt-16">
			<h2 class="title mb-4 text-xl">Fun facts</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					yutaFunFacts.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								{title}
							</a>:
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
		<!-- <p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repo</a
			> if you like me!
		</p> -->
	</div>
</PageLayout>
