---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "More about Yuta Tokoi",
};

const yutaProjects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "LAME",
		desc: "2024-01 ~ Now",
		href: "https://github.com/izyumidev/LAME"
	},
	{
		title: "One Kiji",
		desc: "2023-06 ~ 2023-12",
		href: "https://onekiji.yutatokoi.com/",
	},
];

const yutaCerts: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "CompTIA ITF+",
		desc: "",
		href: "https://www.credly.com/badges/cec574c8-b5c3-4a93-a45f-cef61e554fff/public_url",
	},
	{
		title: "Google Cybersecurity Professional Certificate",
		desc: "",
		href: "https://coursera.org/share/24d176964315a44f7b9e0b14935e044b",
	},
	{
		title: "Google Data Analytics Professional Certificate",
		desc: "",
		href: "https://coursera.org/share/767b3329cb1ac30fb62ccf2627e27d14",
	},
];

const yutaPast: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Northeastern University",
		desc: "3.93 GPA, Dean's List. Attended 2022-2023 before transferring.",
		href: "https://www.northeastern.edu/",
	},
	{
		title: "Hiroshima University BMK Digital Cognitive Neuroscience Lab",
		desc: "Intern",
		href: "https://sites.google.com/view/digital-cogneuro/",
	},
	{
		title: "Silicon Valley Japan Platforom",
		desc: "Intern",
		href: "https://svjp.org/",
	},
	{
		title: "DREAM SEEDS CAMP",
		desc: "Intern",
		href: "https://www.dreamseedscamp.org/",
	},
	{
		title: "Digika",
		desc: "Intern",
		href: "https://www.sorotouch.jp/",
	},
];

// const yutaFunFacts: Array<{ title: string; desc: string; href: string }> = [
// 	{
// 		title: "Minimalist",
// 		desc: "All my possessions fit in a suitcase and backpack.",
// 		href: "https://yutatokoi.com/posts/item-inventory/",
// 	},
// 	{
// 		title: "Speedcuber",
// 		desc: "I've solved a Rubik's cube in 8.59 seconds.",
// 		href: "https://www.worldcubeassociation.org/persons/2015TOKO01",
// 	},
// ];

---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-6">About</h1>
		<p class="mb-4">
			An overview of who I am. You can also look at my 
			<a
				href="https://github.com/yutatokoi/yutatokoi/blob/main/cv-no-contacts.pdf"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
			>
				CV
			</a>
			or 
			<a
				href="https://yutatokoi.com/tags/featured"
				target="_self"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
			>
				some of my writing
			</a>.
		</p>
	</section>
	<div class="space-y-6">
		<section class="mt-16">
			<h2 class="title mb-4 text-xl">Projects</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					yutaProjects.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								{title}
							</a>:
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
		<section class="mt-16">
			<h2 class="title mb-4 text-xl">Competitive Programming</h2>
			<ul class="space-y-4 sm:space-y-2">
				<p>Total prize winnings: 25AUD</p>
				<p>Participation history: 
					<a
						href="https://github.com/yutatokoi/programming-competitions/blob/main/main.md"
						target="_blank"
						rel="noopener noreferrer"
						class="cactus-link inline-block"
					>
						here
					</a>
				</p>
			</ul>
			
		</section>
		<section class="mt-16">
		<h2 class="title mb-4 text-xl">Certifications</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					yutaCerts.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								{title}
							</a>
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
		<section class="mt-16">
			<h2 class="title mb-4 text-xl">Past</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					yutaPast.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								{title}
							</a>:
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
		<!-- <section class="mt-16">
			<h2 class="title mb-4 text-xl">Fun facts</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					yutaFunFacts.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								{title}
							</a>:
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section> -->
	</div>
</PageLayout>
